.footer-container {
  width: 100%;
  height: 20%;
  background: var(--sc-bg-color);
  display: flex;
  justify-content: space-between;
  padding: var(--sc-margin);
  margin-top: var(--sc-margin);
  cursor: default;
}

.footer-links {
  width: 70%;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-logo-container {
  width: 20%;
  height: 100%;
  display:flex;
  margin: 0;
  padding: 0;
}

.footer-logo {
  height: 6rem;
}

.footer-dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-dropdowns-nav {
  height:auto;
}
